.input {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  outline: none;
  padding: 0.6rem 1.4rem;
}

// Hide the input arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}